

@{
    ViewBag.Title = "Dashboard";
}

<h2>Welcome Phonebook Application</h2>
<div>
    <input type="button" value="Newdata" onclick="redirectOnClick()" />
</div>
<script>
    function redirectOnClick() {
        document.location = 'Data/Data';
    }
</script>



