
@{
    ViewBag.Title = "Phonesave";
}

<h2>your Data is saved</h2>
<div>
    <input type="button" value=" Goto Dashboard" onclick="@("window.location.href = '" +Url.Action("Dashboard","Data") + "'" )"
</div>

